<div class="welcome-page">
	<div class="welcome-header">
		<h2>{{ welcome_message }}</h2>
		<p>We're excited to have you join our community. Please take a moment to tell us about yourself.</p>
	</div>
</div>
